*{
	margin:0 auto;
	padding:0;
}
.content {
	background-color: #eee;
	padding: 20px;
	border:1px solid #999;
	height: 100%;
	/*min-height: 420px;*/
	overflow: hidden;
}

.content-left{
	float:left;
	padding:20px;
	width:200px;
	border:1px solid #999;
	background-color: #FFFFFF;
}

.content-right{
	float:right;
	padding:20px;
	border:1px solid #999;
	width: 120px;
	background-color: #FFFFFF;
} 

.content-mid{
	margin:0 200px 0 270px;
	padding:20px;
	border:1px solid #999;
	background-color: #FFFFFF;
}

.content-left span{
	float:right;
}

.content-right img{
	width:80px;
	height: 80px;
}

.content-right li{
	display:block;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.content-left img{
	width:80px;
	height:80px;
}

.content-mid p{
	text-indent:2em;
	line-height: 2;
}